@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../styles/style-vars";

.chevron {
    background-image: url("../../../assets/chevron-down.svg");
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;

    &.up {
        transform: rotate(180deg);
    }
}

.image {
    @include media-breakpoint-down(xs) {
        display: none;
    }
}
