<template src="./dashboard.html"></template>

<script src="./dashboard.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./dashboard.scss"></style>
