<div>
    <DashboardHeader/>

    <div class="container mt-2 p-3">
        <FilmsSort/>

        <FilmCard v-for="film in films" v-bind:film="film" :key="film.id"/>
    </div>

    <FilmDetailModal/>

</div>