$body-font-family: 'Roboto', Arial, sans-serif;

$color-font-heading: #232f49;
$color-font-body: #767676;

$color-navy: #232f49;
$color-cyan: #4cbcc2;
$color-pink: #d50951;
$color-gainsboro: #e2e2e2;

// Grid breakpoints
//
// Custom definitions for grid breakpoints
//
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
) !default;

