<div class="custom-card row">
    <div class="col-3 img-section">
        <img v-bind:src="film.img_url"/>
    </div>
    <div class="col-12 col-md-7 dtl-section">
        <h3 class="title">{{film.title}}</h3>
        <img v-bind:src="film.img_url"/>
        <p class="description">{{film.description}}</p>
        <div>
            <label for="release_date">Release Date</label>
            <span id="release_date">{{film.release_date}}</span>
        </div>
        <div>
            <label for="rt_score">Rotten Tomatoes Score</label>
            <span id="rt_score">{{film.rt_score}}</span>
        </div>
    </div>
    <div class="col-12 col-md-2 btn-section">
        <b-button v-b-modal.filmDetailModal class="btn-pink" v-on:click="setFilmToStore()">More Detail</b-button>
    </div>
</div>