@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/style-vars";

/**
 * This file contains CSS to create an effect that could have been created using default bootstrap-classes
 */

.custom-card {
    margin: 0 0.25rem 1rem 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);

    .img-section {
        text-align: center;
        align-self: center;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .dtl-section {
        padding: 1rem 1.5rem 1rem 1rem;
        border-left: 1px solid $color-gainsboro;
        border-right: 1px solid $color-gainsboro;

        .title {
            font-size: 24px;
            font-weight: 900;
        }
        div {
            display: inline-block;
        }
        img {
            display: none;
        }

        @include media-breakpoint-down(sm) {
            border: 0;
            img {
                display: block;
                margin: 1rem auto;
            }
        }
    }

    .btn-section {
        text-align: center;
        align-self: center;

        button {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        @include media-breakpoint-down(sm) {
            border-top: 1px solid $color-gainsboro;
            text-align: right;
        }
    }

}

img {
    width: 140px;
    max-height: 180px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(sm) {
        width: 90px;
    }
}