<template src="./film-card.html"></template>

<script src="./film-card.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./film-card.scss"></style>
