@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/style-vars";

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;

    @include media-breakpoint-down(xs) {
        width: 50%;
    }
}

.double-col {
    @include media-breakpoint-down(xs) {
        width: 49%;
        display: inline-block;
    }
}