<template src="./film-detail-modal.html"></template>

<script src="./film-detail-modal.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./film-detail-modal.scss"></style>
