<b-modal id="filmDetailModal" v-if="film !== null" size="lg" :title="film.title" footer-class="d-none">
    <div class="row p-1 p-sm-3">
        <div class="col-sm-6">
            <img v-bind:src="film.img_url"/>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="w-100" for="description">Description</label>
                <span id="description">{{film.description}}</span>
            </div>

            <div class="form-group double-col">
                <label class="w-100" for="director">Director</label>
                <span id="director">{{film.director}}</span>
            </div>

            <div class="form-group double-col">
                <label class="w-100" for="producer">Producer</label>
                <span id="producer">{{film.producer}}</span>
            </div>

            <div class="form-group double-col">
                <label class="w-100" for="release_date">Release Date</label>
                <span id="release_date">{{film.release_date}}</span>
            </div>

            <div class="form-group double-col">
                <label class="w-100" for="rt_score">Rotten Tomatoes Score</label>
                <span id="rt_score">{{film.rt_score}}</span>
            </div>
        </div>
    </div>
</b-modal>