@import "../styles/style-vars";
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

html, body {
    height: 100%;
    font-size: 14px;
}

.app {
    background-color: $color-gainsboro;

    font-family: $body-font-family;
    color: $color-font-body;

    h1, h2, h3, h4, h5 {
        color: $color-font-heading;
    }

    h1 {
        font-weight: 900;
    }

    h1.hero {
        font-size: 3.9rem;

        @include media-breakpoint-down(xs) {
            font-size: 2.9rem;
        }
    }

    label {
        font-size: 17px;
        margin-bottom: 0.25rem;
        width: 100%;
    }

    button.btn.btn-pink {
        background-color: $color-pink;
        border-color: $color-pink;
        font-weight: 700;
        color: #fff;
    }

    .btn-grey {
        padding: 0.75rem 1.25rem;
        background-color: #ebeff2;
        border-color: #ebeff2;
        font-weight: 700;
    }

    .modal-content {
        .modal-title {
            font-size: 1.75rem;
            font-weight: 900;
        }
        .close {
            font-size: 2.5rem;
        }
        &.modal-footer {
            display: none;
        }
    }
}

