@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/style-vars";

.row {
    background-color: $color-navy;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;

    h1.hero {
        color: #fff;
    }

    img {
        width: 160px;
        position: absolute;
        top: -14px;
        right: 0;

        @include media-breakpoint-down(sm) {
            width: 140px;
        }
    }
}