<template src="./dashboard-header.html"></template>

<script src="./dashboard-header.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./dashboard-header.scss"></style>
