<template src="./film-row.html"></template>

<script src="./film-row.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./film-row.scss"></style>
