@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/style-vars";

tr {
    border-bottom: 5px solid #e2e2e2;
    text-align: left;
    img {
        height: 90px;
        width: 70px;
    }

    @include media-breakpoint-down(xs) {
        .image {
            display: none;
        }
        td {
            padding: 0.5rem;
        }
    }
}



