<tr class="py-2">
    <td class="image"><img v-bind:src="film.img_url"/></td>
    <td>{{film.title}}</td>
    <td>{{film.release_date}}</td>
    <td>{{film.rt_score}}</td>
    <td>
        <b-button v-b-modal.filmDetailModal class="btn-pink" v-on:click="setFilmToStore()">More Detail</b-button>
    </td>
</tr>