<template src="./films-sort.html"></template>

<script src="./films-sort.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped src="./films-sort.scss"></style>
