<div class="sort-container">
    <div class="mx-1 my-2">
        <span class="font-weight-bold mr-2">Sort by: </span>

        <b-button-group>
            <b-dropdown id="sort" :text="sort" variant="grey">
                <b-dropdown-header>Sort</b-dropdown-header>
                <b-dropdown-item v-on:click="sortTable('title', null)">Title</b-dropdown-item>
                <b-dropdown-item v-on:click="sortTable('release_date', null)">Release Date</b-dropdown-item>
                <b-dropdown-item v-on:click="sortTable('rt_score', null)">Rotten Tomatoes Score</b-dropdown-item>
            </b-dropdown>
            <b-dropdown id="order" right :text="order" variant="grey">
                <b-dropdown-header>Order</b-dropdown-header>
                <b-dropdown-item v-on:click="sortTable(null, 'Ascending')">Ascending</b-dropdown-item>
                <b-dropdown-item v-on:click="sortTable(null, 'Descending')">Descending</b-dropdown-item>
            </b-dropdown>
        </b-button-group>
    </div>

</div>