@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../styles/style-vars";

.sort-container {
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 121px;
    background-color: $color-gainsboro;
    z-index: 1;

    @include media-breakpoint-down(xs) {
        top: 104px;
    }
}

